.navbar-brand{
  background: linear-gradient(to right, var(--andris-blue), var(--andris-bluelight));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 5px;
  background: var(--andris-yellowdark);
  margin: 0;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 5px;
  /* background: linear-gradient(to left, #6a11cb, #2575fc); */
  background: linear-gradient(90deg, var(--andris-bluelight), var(--andris-blue));
  width: 0%;
}

.navbar{
  flex-direction: column;
  padding-bottom: 0;
  background-color: var(--andris-yellow);
}

.nav-item:hover .nav-link{
  color: var(--andris-bluelight);
}

.hidden {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
  pointer-events: none; /* Prevent interactions when hidden */
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.top-box4{
  margin-bottom: 4px;
  transform: translateY(0);
  transition: margin-bottom 0.3s ease, transform 0.3s ease;
}

.top-box9{
  margin-bottom: 9px;
  transform: translateY(0);
  transition: margin-bottom 0.3s ease, transform 0.3s ease;
}

.navImage {
  height: 50px;
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
}

.mynavbar-brand{
  padding: 0;
}

.mynavbar-text{
  color: var(--andris-blue);
}

.mynavbar-text:hover{
  color: var(--andris-bluelight);
}