.giga-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.cards-mine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.my-cardbody {
  margin: 40px 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.ScratchCard__Container {
  border: 3px solid white;
  background-color: lemonchiffon;
}

.ScratchCard__Canvas {
  width: 100%;
}

.ScratchCard__Result {
  text-align: center;
  vertical-align: middle;
  font-weight: 800;
  font-size: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scratch-title {
  font-size: 70px;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  color: #f5648f;
  -webkit-text-stroke: 3px black;
  text-shadow: 0px 2px 10px black;
  text-align: center;
  margin-top: 20px;
}
.giftinput {
  width: 70%;
}

.giftbutton {
  width: 30%;
}

.giftbutton-small {
  width: 60%;
  padding: 4%;
  margin: 0% 20%;
  border-radius: 15px;
  background-color: #f8f8f880;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  color: white;
  -webkit-text-stroke: 1px #f8f8f8;
  text-shadow: 0px 2px 4px red;
}

body {
  background-image: url("https://www.gatheringbeauty.com/s/Pink-Heart-Desktop-Wallpaper.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100vw auto; /* Resize the background image to cover the entire container */
  background-position: top;
  font-family: "Poppins", sans-serif;
}
